/* static/style.css */

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

input {
    width: 70%;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
}

#results {
    margin-top: 20px;
}
